@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: #f2f2f2;
  background-image:
    linear-gradient(to right, #ccc 2px, transparent 1px),
    linear-gradient(to bottom, #ccc 2px, transparent 1px);
  background-size: 20px 20px;
}